apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: medical-app
type: Opaque
stringData:
  PORT: "3000"
  DB_HOST: postgres
  DB_PORT: "5432"
  DB_USER: medical_user
  DB_PASSWORD: change-me-strong-password
  DB_NAME: medical_db
  JWT_SECRET: dev_secret_change_in_prod
