apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: medical-app
type: Opaque
stringData:
  POSTGRES_USER: medical_user
  POSTGRES_PASSWORD: change-me-strong-password
  POSTGRES_DB: medical_db
